.displayContainer {
    display: flex;
    flex-direction:column;
    align-items: end;
    justify-content: space-between;
    font-size: 2rem;
    background-color: #fffd78;    
    border: 3px solid  #ddce01; 
    padding-right: 10px;
    padding-left: 10px;
    height: 277px;
    width: 277px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;

    .displayContainer-apples{
        display: flex;
        justify-content: center;    
        height: 70%;
        //line-height: 10px;
        width: 100%;
        //aspect-ratio: 1/1;  

        border: 3px solid  #000000;
        //flex-wrap: wrap;
        //font-size: 2rem;

        .operatorElement, .appleImagesElement {
            display: flex;
            justify-content: center;
            align-items: center; 
        }
    

        .applesImagesElement {
            /* display: flex;
            justify-content: center;
            align-content: center;            
            //flex-direction: column;
            width: 100%;
            flex-wrap: wrap;
            height: auto; */
            grid-gap: 1%;
            padding: 1%;
            display: grid;
            //grid-template-columns: 1;
            //grid-template-rows: 1;
            width: 100%;
            height: 100%;
            place-items: center;
            
            border: 1px solid  #dd0e0e;

            img {
                //flex-basis: 0;
                //flex-grow: 1;
                //width: #{widthApple};
                max-width: 100%;
                max-height: 100%;
                min-height: 1%;
                min-width: 1%;
                //max-width: 50%;
                //min-width: 10%;                
                //width: 100%;
                //width: calc(100% / 5);lex-grow:;
                //object-fit: contain;
                //padding: 2%;
                font-size: 10px; //Fuente para "Alt"
                //border: 1px solid  #060741;
                //clip-path: polygon(100% 100%, 50% 50%, 100% 100%, 0% 100%, 50% 50%, 0 100%, 0 0, 50% 50%, 0% 0, 100% 0, 50% 50%, 100% 0);        
            }
        }
    }

    .displayContainer-calculate-input{  
        display: flex;
        align-items: end;
        justify-content: space-between;        
        width: 100%;    

        .displayContainer-calculate{
            font-size: 1.5rem;
            color: #e06262;
            border: 3px solid  #000000;
        }

        .displayContainer-input{
            color: #ee0303;
            border: 3px solid  #000000;
        }
    }

};
   