.displayContainer {
    display: flex;
    flex-direction:column;
    align-items: end;
    justify-content: space-between;
    background-color: #fffd78;    
    padding: 15px 15px 5px 15px;
    height: 100%;
    width: 100%;

    .displayContainer-apples{
        display: flex;
        justify-content: center;    
        width: 100%;
        border-bottom: 0.1em solid  #000000;
        overflow-x: auto;
        flex: 1; // 1 1 0
        padding-inline: 1%;
        padding-bottom: 1%;
        gap: 1%;

        .operatorElement, .appleImagesElement {
            display: flex;
            justify-content: center;
            align-items: center; 
        }
    
        .applesImagesElement {
            display: grid;
            place-items: center;
            grid-auto-rows: 1fr;
            width: 100%;
            height: 100%;         
            gap: min(2%, 0.2em);

            img {
                max-width: 100%;
                max-height: 100%;
                min-height: 1%;
                min-width: 1%;
                font-size: 10px; //Fuente para "Alt"
            }

            >img,
            .appleContainer {
                filter: drop-shadow(0px 1px 1px black);
            }

            .appleContainer {
                position: relative;

                .numberOverlay {
                    position: absolute;                   
                    top: 62%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-size: 0.6em;
                    padding-inline: 5%;              
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;                  
                }

                .negativeNumber{
                    filter: sepia(1);
                }
            }
        }
    }

    .displayContainer-calculate-input{  
        display: flex;
        justify-content: space-between;        
        width: 100%;
        max-height: 3em; // 2 filas de texto máximo
        gap: 0.5em;

        .displayContainer-calculate{
            display: grid;
            align-items: end;
            overflow-wrap: anywhere;
            font-size: 0.8em;
            color: #e06262;
            overflow-y: auto;
            flex: 1; // 1 1 0
            direction: rtl; // Cambia la dirección del texto de derecha a izquierda incluido el scroll en y
            unicode-bidi: plaintext; // Hace que no afecte direction: rtl al texto, solo al scroll en y
        }

        .displayContainer-input{
            display: grid;
            align-items: end;
            overflow-wrap: anywhere;
            height: 100%;
            color: #ee0303;
            overflow-y: auto;
        }
    }

};
   