$max-width-navbar: 1366px;
$breakpoint-mobile: 768px; // md en bootstrap 

.pages {
    width: 100%;
    max-width: $max-width-navbar;
    height: 100%;
    padding: 15px;
    color: black;
    background-color: rgba(var(--bs-warning-rgb), 0.6);

    h2 {
        width: fit-content;
        background: var(--bs-dark);
        border-radius: 10px;
        padding: 10px;
        color: white;
    }

    h3 {
        width: fit-content;
        background-color: var(--bs-success);
        color: white;
        padding: 10px;
        border-radius: 10px;
    }

    span {
        font-weight: 700;
        background: white;
        border-radius: 6px;
    }

    @media (min-width: $breakpoint-mobile) {
        margin-inline: 22px;
        border-radius: 20px;
        border: 7px solid var(--bs-warning);    
    }
}