$breakpoint-mobile: 768px; // md en bootstrap
$max-width-navbar: 1920px;

.custom-navbar {
    background-color: var(--bs-dark);

    .navbar-toggler {
        padding: 0.25rem 0.5rem; // Espaciado interno del botón
        font-size: 1rem; // Tamaño del texto del botón. Modifica el tamaño del icono (unidades em)
    }
      
    @media (min-width: $breakpoint-mobile) {
        background: none;   

        .custom-content {        
            max-width: $max-width-navbar;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}

.custom-dialog {
    backdrop-filter: blur(10px);

    footer {
        font-size: 13px;

        @media (min-width: $breakpoint-mobile) {
            display: none;
        }
    }

    a.active { // Para la clase active de NavLink (react-router-dom)
        font-weight: 700;
    
        @media (min-width: $breakpoint-mobile) {
            font-weight: 500;
        }
      }

    @media (min-width: $breakpoint-mobile) {
        backdrop-filter: none;
    }
}